<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body>
    <div class="w-full h-screen bg-gray-900 text-white p-10">
      <h2 class="text-3xl mb-4">Login</h2>
      <form method="post" autocomplete="off" action="/login">
        <input
          type="email"
          name="email"
          placeholder="Email"
          class="px-3 py-2 rounded-md bg-transparent border-2 border-gray-500 outline-none"
        />
        <input
          type="password"
          name="password"
          placeholder="Password"
          class="px-3 py-2 rounded-md bg-transparent border-2 border-gray-500 outline-none"
        />

        <button
          type="submit"
          class="px-4 py-2 rounded-md bg-blue-500 hover:bg-blue-600 text-white font-semibold"
          value="Login"
        >
          Login
        </button>
      </form>
    </div>
  </body>
</html>
