* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  background-color: rgb(6, 1, 16);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.container {
  background: #111;
  padding: 30px;
  width: 350px;
  border-radius: 8px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.field {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #444;
  outline: none;
  background: #000;
  color: white;
}

input:focus {
  border-color: #6a5acd;
}

small {
  color: red;
  font-size: 12px;
  display: block;
  margin-top: 4px;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  background: #6a5acd;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background: #7b6cf6;
}
